# "{{ clientName }}" - Streisand WireGuard Client Profile
[Interface]
Address = 10.192.122.{{ instance }}/32
DNS = 10.192.122.1
PrivateKey = {{ wireguard_client_privkeys.stdout }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = {{ server_ip }}:51820
